@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

  .tester {
    @apply p-4 bg-gray-200 rounded-lg  font-sans w-full
  }
  .forLogo {
    background-image: url('./assets/edit3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    margin: 0;
    height: 115px;
  }
  .forLogoMob {
    background-image: url('./assets/edit3Mob.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 64px;
    height: 64px;
    margin: 20px 0;
  }
}